.main-dash-container {
    display: flex;
    min-height: 100vh;
    background-color: #f7fafc;
  }
  
  .main-content {
    margin-left: 250px; /* Adjust according to the width of the sidebar */
    padding: 20px;
     /* Adjust according to the width of the sidebar */
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      width: 100%;
    }
  }
  