#animation{
  color: gray;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 10s infinite;
  /* text-decoration: underline; */
}
/* @keyframes type{
  from { width: 0; }
}
#animated{
  color: gray;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 10s infinite;
  /* text-decoration: underline; */
/* }
@keyframes type{
  from { width: 0; }
}  */